<section class="container">
    <h2>Edit Customer</h2>
    <form (ngSubmit)="saveChanges()" class="forms">
      <mat-form-field class="form-field">
        <mat-label>Customer ID</mat-label>
        <input matInput [(ngModel)]="customer.id" name="customerId" placeholder="Enter Customer ID" [disabled]="customerLoaded" required>
        <button mat-raised-button color="primary" type="button" [disabled]="customerLoaded" (click)="loadCustomerData()">Select Customer</button>
      </mat-form-field>
  
  <!-- Show the form only when room data is loaded -->
       <div *ngIf="customerLoaded">
        <mat-form-field class="form-field">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="customer.name" name="name" required>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="customer.lastName" name="lastName" required>
        </mat-form-field>          
        <mat-form-field class="form-field">
          <mat-label>Passport</mat-label>
          <input matInput [(ngModel)]="customer.passport" name="passport" required>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Phone</mat-label>
            <input matInput [(ngModel)]="customer.phone" name="phone" required>
          </mat-form-field>
        <div class="btn-submit">
          <button mat-raised-button color="primary" type="submit">Edit</button>
          <button mat-raised-button color="primary" type="button" class="btn-cancel" (click)="goHome()">Cancel</button>
      </div>
      </div>
    </form>
  </section>