<div style="background-color: rgb(223, 171, 171);width:1200px; height:600px; border-radius: 8px;"></div>

<p-dialog header="Buscar Habitacion" [(visible)]="visibleBuscar" [style]="{width: '30vw'}">
    <form action="" [formGroup]="formBuscarHabitacion">
        <p-inputGroup class="mb-3">
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Numero habitacion" formControlName="numHabit" />
        </p-inputGroup>
        <div>
            <p-button label="Buscar" (onClick)="buscarHabitacion()"></p-button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Habitacion" [(visible)]="visibleMostrar" [style]="{width: '40vw'}" [maximizable]="true">
    <h4>
        Tipo Habitacion:   {{room.roomType}}
    </h4>
    <h4>
        Cantidad Huespedes:  {{room.guestCount}}
    </h4>
    <h4>
        Precio:   {{room.pricePerNight}}
    </h4>

</p-dialog>

<p-dialog header="Error" [(visible)]="visibleByError" [style]="{width: '20vw'}">
    <p font-bold>
        Se han ingresado datos incorrectamente o faltan rellenar campos
    </p>
</p-dialog>