<section class="container">
    <h2>Delete Room</h2>
    <form (ngSubmit)="deleteRoom()" class="forms">
      <mat-form-field class="form-field">
        <mat-label>Room ID</mat-label>
        <input matInput [(ngModel)]="room.id" name="roomId" placeholder="Enter Room ID" required type="number">
      </mat-form-field>
      <div class="btn-submit">
        <button mat-raised-button color="primary" type="submit">Delete</button>
        <button mat-raised-button color="primary" type="button" class="btn-cancel" (click)="goHome()">Cancel</button>
    </div>
    </form>
  </section>
  