<p-dialog header="Buscar Cliente por Apellido" [(visible)]="visibleBuscar" [style]="{width: '30vw'}">
    <form action="" [formGroup]="formBuscarCliente">
        <p-inputGroup class="mb-3">
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Apellido a buscar" formControlName="apellidoForm" />
        </p-inputGroup>
        <div>
            <p-button label="Buscar" (onClick)="buscarCliente()"></p-button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Clientes {{apellido}}" [(visible)]="visibleListar" [style]="{width: '50vw'}" [maximizable]="true">
    <p-table [value]="clientes" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>Telefono</th>
                <th>Check-in</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.dni }}</td>
                <td>{{ cliente.telefono }}</td>
                <td><p-button icon="pi pi-check-circle" severity="help" (onClick)="checkIn(cliente.id)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div>
        <p-button label="Volver" (onClick)="returnMain()"></p-button>
    </div>

</p-dialog>

<p-dialog header="Check-in" [(visible)]="visibleCheckIn" [style]="{width: '50vw'}" [maximizable]="true">
    <form action="" [formGroup]="formCheckIn">
        <p-inputGroup>
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Numero de habitacion" formControlName="numHabit" />
        </p-inputGroup>
        <p-inputGroup>
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Cantidad de huespedes" formControlName="cantHuespedes" />
        </p-inputGroup>
    </form>
        <p font-bold>Fecha Ingreso:</p>
        <div>
            <p-calendar [(ngModel)]="dateIngreso" [showTime]="true" [showSeconds]="true" [showIcon]="true"></p-calendar>
        </div>
        <p font-bold>Fecha Egreso:</p>
        <div>
            <p-calendar [(ngModel)]="dateEgreso" [showTime]="true" [showSeconds]="true" [showIcon]="true" dateFormat="yy/mm/dd"></p-calendar>
        </div>

        <div class="mt-5">
            <p-button class="mr-3" label="Terminar" (onClick)="Terminar()"></p-button>
            <p-button label="Volver" (onClick)="returnMain()"></p-button>
        </div>
</p-dialog>

<p-dialog header="Error" [(visible)]="visibleByError" [style]="{width: '20vw'}">
    <p font-bold>
        Algunos datos son incorrectos o faltan rellenar campos
    </p>
</p-dialog>