<header>
  <nav>
    <mat-toolbar color="primary" class="menu">
      <span>HOTEL</span>
      <span class="spacer"></span>
      <span *ngIf="isLoggedIn" class="logged-user">Logged-in user:  <span class="username">  {{ username }}</span></span>
      <button mat-button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">Menu</button>
      <mat-menu #menu="matMenu" class="menu">
        <button mat-menu-item [routerLink]="['home']">Home</button>
        <button mat-menu-item [matMenuTriggerFor]="clientMenu">Clients</button>
        <button mat-menu-item [matMenuTriggerFor]="roomsMenu">Rooms</button>
        <button mat-menu-item *ngIf="userRole === 'ADMIN'" [matMenuTriggerFor]="userMenu">Users</button>
        <button mat-menu-item [routerLink]="['/checkin']">Book</button>
      </mat-menu>
      <button mat-button (click)="logout()" *ngIf="isLoggedIn">Logout</button>
      <button mat-button [routerLink]="['/login']" *ngIf="!isLoggedIn">Login</button>
    </mat-toolbar>
  </nav>

  <!-- Submenu for Clients -->
  <mat-menu #clientMenu="matMenu">
    <button mat-menu-item [routerLink]="['/create-customer']">Create</button>
    <button mat-menu-item [routerLink]="['/edit-customer']">Edit</button>
    <button mat-menu-item [routerLink]="['/delete-customer']" *ngIf="userRole === 'ADMIN'">Delete</button>
    <button mat-menu-item [matMenuTriggerFor]="findClients">Find</button>
  </mat-menu>

  <!-- Submenu for find Clients -->
  <mat-menu #findClients="matMenu">
    <button mat-menu-item [routerLink]="['/customers']">All</button>
    <button mat-menu-item [routerLink]="['/customer-by-passport']">By Passport</button>
  </mat-menu>

  <!-- Submenu for Rooms -->
  <mat-menu #roomsMenu="matMenu">
    <button mat-menu-item [routerLink]="['/create-room']" *ngIf="userRole === 'ADMIN'">Create</button>
    <button mat-menu-item [routerLink]="['/edit-room']" *ngIf="userRole === 'ADMIN'">Edit</button>
    <button mat-menu-item [routerLink]="['/delete-room/']" *ngIf="userRole === 'ADMIN'">Delete</button>
    <button mat-menu-item [matMenuTriggerFor]="findRooms">Find</button>
  </mat-menu>

  <!-- Submenu for find Rooms -->
  <mat-menu #findRooms="matMenu">
    <button mat-menu-item [routerLink]="['/rooms']">All</button>
    <button mat-menu-item [routerLink]="['/room-by-number']">By number</button>
  </mat-menu>

   <!-- Submenu for Users (accessible only by admins) -->
   <mat-menu #userMenu="matMenu">
    <button mat-menu-item [routerLink]="['/users/new']">Create</button>
    <button mat-menu-item [routerLink]="['/users']">All Users</button>
  </mat-menu>
</header>
