<div style="background-color: rgb(163, 234, 202);width:1200px; height:600px; border-radius: 8px;"></div>
<p-dialog header="Buscar Habitacion a editar" [(visible)]="visibleBuscar" (onHide)="close()" [style]="{width: '30vw'}">
    <form action="" [formGroup]="formBuscarHabit">
        <p-inputGroup class="mb-3">
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Id habitacion a editar" formControlName="id" />
        </p-inputGroup>
        <div>
            <p-button label="Buscar" (onClick)="buscarHabitacion()"></p-button>
        </div>
    </form>
</p-dialog>
<p-dialog header="Editar Habitacion" [(visible)]="visibleEditar" [style]="{width: '30vw'}">
    <form action="" [formGroup]="formEditarHabit">
        <p-inputGroup>
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Numero" formControlName="numero" />
        </p-inputGroup>
        <p-inputGroup>
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Tipo habitacion" formControlName="tipoHab" />
        </p-inputGroup>
        
        <p-inputGroup>
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Precio" formControlName="precio" />
        </p-inputGroup>
        
        <div class="mt-3">
            <p-button label="Editar" (onClick)="editarHabitacion()"></p-button>
            <p-button label="Volver" (onClick)="close()"></p-button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Error" [(visible)]="visibleByError" [style]="{width: '20vw'}">
    <p font-bold>
        Se han ingresado datos incorrectamente o faltan rellenar campos
    </p>
</p-dialog>

<p-dialog header="Success" [(visible)]="visibleSuccess" (onHide)="close()" [style]="{width: '20vw'}">
    <p font-bold>
        La Habitacion se ha editado correctamente!!
    </p>
</p-dialog>