<div style="background-color: rgb(157, 205, 135);width:1200px; height:600px; border-radius: 8px;">
    <h1>Lista de Habitaciones</h1>
</div>
<p-dialog header="Habitaciones" [(visible)]="visible" (onHide)="close()" [style]="{width: '50vw'}" [maximizable]="true">
    <p-table [value]="rooms" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>N°</th>
                <th>TH</th>
                <th>$</th>
                <th>CH</th>
                <th>FI</th>
                <th>FE</th> 
                <th>Cliente</th>   
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-room>
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.roomNumber }}</td>
                <td>{{ room.roomType }}</td>
                <td>{{ room.pricePerNight }}</td>
                <td>{{ room.guestCount }}</td>
                <td>{{ room.checkInDate }}</td>
                <td>{{ room.checkOutDate }}</td>  
                <td><p-button icon="pi pi-eye" severity="succes" (onClick)="mostrarCliente(room.id)"></p-button></td>
                <td>{{ room.cliente}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<p-dialog header="Cliente" [(visible)]="visibleCliente" [style]="{width: '40vw'}">
    <h4>
        Apellido: {{this.cliente.lastName}}
    </h4>
    <h4>
        Nombre: {{this.cliente.name}}
    </h4>
    <h4 font-bold>
        Dni: {{this.cliente.passport}}
    </h4>
    <h4 font-bold>
        Telefono:{{this.cliente.phone}}
    </h4>
   
</p-dialog>