<section class="container">
    <h2>Create New Client</h2>
    <form (ngSubmit)="createCustomer()" class="forms">
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="customer.name" name="name" required>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Last name</mat-label>
        <input matInput [(ngModel)]="customer.lastName" name="lastNameame" required>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Passport</mat-label>
        <input matInput [(ngModel)]="customer.passport" name="passport" required>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Phone</mat-label>
        <input matInput [(ngModel)]="customer.phone" name="phone" required>
      </mat-form-field>
      <div class="btn-submit">
        <button mat-raised-button color="primary" type="submit">Create</button>
        <button mat-raised-button color="primary" type="button" class="btn-cancel" (click)="goHome()">Cancel</button>
    </div>
    </form>
  
    <div *ngIf="createdCustomer" class="created">
      <h3>Customer Created</h3>
      <p><strong>ID:</strong> {{ createdCustomer.id }}</p>
      <p><strong>Name:</strong> {{ createdCustomer.name }}</p>
      <p><strong>Last name:</strong> {{ createdCustomer.lastName }}</p>
      <p><strong>Passport:</strong> {{ createdCustomer.passport }}</p>
      <p><strong>Phone:</strong> {{ createdCustomer.phone }}</p>
    </div>
  </section>